<% include ../head %>

<ul>
<% for(var i=0; i<entries.length; i++) { %>
 <li>
   <a href='/entries/<%= i %>' ><%= entries[i].slug %></a>
   <a href='/entries/<%= i %>/edit'>Edit</a>
   <a href='/entries/<%= i %>/delete'>Delete</a>
 </li>
<% } %>
</ul>
<% include ../footer %>
